body{
    font-family: Roboto;
    font-size:14pt;
}


.chat{
    display: grid;
    grid-template-areas: " . header header ." ". nav content .";
    grid-template-rows: 20% 75%;
    grid-template-columns: 20% 20% 40% 20%;
    grid-gap: 30px;


}